<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21440596350-98ndi94cg5uk46fclbjjsdnjskojt5cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21440596350-98ndi94cg5uk46fclbjjsdnjskojt5cr</string>
	<key>API_KEY</key>
	<string>AIzaSyCN8G2ga0vPE5_i7uTVB4cz_h9YtjB2Bn8</string>
	<key>GCM_SENDER_ID</key>
	<string>21440596350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manvith.Chat-App-V2</string>
	<key>PROJECT_ID</key>
	<string>vista-861ee</string>
	<key>STORAGE_BUCKET</key>
	<string>vista-861ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21440596350:ios:4a26496ac01b2755020b2f</string>
</dict>
</plist>